

.background_left_panel_home {
    background-image: url("../../images/Leftpanel_home.jpeg");
    background-size: cover;
    height: 87.5vh;
    width: 52vw;
}

.background_left_panel_about {
    background-image: url("../../images/Leftpanel_about.jpeg");
    background-size: cover;
    height: 87.5vh;
    width: 52vw;
}

.container_panels {
    display:flex;
}

.profile_description {
    font-family: 'Aleo';
    font-size:2rem;
    margin-left:15%;
    margin-top:35%;
    width: 45vw;
    text-align:center;
}

.profile_description_sub_text {
    font-family: 'Aleo';
    font-size:1rem;
    width: 30vw;
    margin-left:20%;
    text-align:end;
}


.profile_description_desktop {
    font-family: 'Aleo';
    font-size:4rem;
    margin-left:15%;
    margin-top:35%;
    width: 45vw;
    text-align:center;
}

.profile_description_sub_text_desktop {
    font-family: 'Aleo';
    font-size:2rem;
    width: 30vw;
    margin-left:20%;
    text-align:end;
}

.profile_description_sub_text a {
    text-decoration:none;
}

.profile_description_sub_text a:hover {
    text-decoration:underline orange;
}

.profile_description_sub_text_desktop a {
    text-decoration:none;
}

.profile_description_sub_text_desktop a:hover {
    text-decoration:underline orange;
}

/* 52vw 87.5vh  */