.error_container {
    background-color:#F8F6E6;
    width:100vw;
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.error_box {
    background-color: #B02F2F;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    transform:rotate(45deg);
    height: 15rem;
    width:15rem;
    margin-right:0%;
    margin-top:10%;
}

.error_box .message {
    transform:rotate(-45deg);
}