.projects_page_background {
    background-color:#F8F6E6;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    padding:5%;
}

.projects_page_background_mobile {
    background-color:#F8F6E6;
    padding:5%;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
}