.right_panel_background_home 
{
    background-color: #F8F6E6;
    height: 87.5vh;
    width: 48vw;
}

.profile_image {
    margin-top:30%;
    border-radius:50% 50%;
    height:40vh;
}

.profile_image_desktop {
    margin-top:30%;
    border-radius:50% 50%;
    height:30vh;
}

.text_description_about {
    text-align:center;
    font-family:'KiwiMaru';
    font-size:0.6rem;
    padding-top:5%;
    padding-bottom:2%;
    border-radius:50% 50%;
    margin-top:30%;
    height:8rem;
    width:10rem;
    overflow: none;
    background-color:white;
}

.text_description_about_desktop {
    text-align:center;
    font-family:'KiwiMaru';
    font-size:1.1rem;
    padding-top:5%;
    padding-bottom:2%;
    border-radius:50% 50%;
    margin-top:40%;
    height:16rem;
    width:19rem;
    overflow: none;
    background-color:white;
}

